// Context separator -----------------------------------------------------------

.alm-post--hr,
.alm-post--content hr
  height 1.3em
  border none
  text-align center

  &::after
    content '~'
    font-size 8em
    font-family 'Times New Roman', Times, serif
    line-height 0

.alm-post--hr
  .alm-post--header &
    margin-top 2.5em

.alm-post--content hr
    margin size-small 0

    &::after
      color color-palette-gray
