h2, h3, h4
  margin-top (size-smallest / scale)
  margin-bottom @margin-top * 0.8
  font-family fonts-serif-normal
  font-weight normal
  letter-spacing -0.05em
  color post-text-color-secondary

h2
  font-size size-small

h3
  font-size size-smaller * 1.3

h4
  font-size size-smallest * 1.2
  text-transform uppercase