// Vars ------------------------------------------------------------------------

post-image-margin--desktop = 1.5em
post-image-margin--mobile = 1em

// Mixins ----------------------------------------------------------------------

normalize(value, base = post-text-size)
  value / base

// Figure ----------------------------------------------------------------------

.alm-post--figure
  width s('calc(100% + ' + (post-text-padding--mobile * 2) + ')')
  margin size-smaller 0
  margin-left post-text-padding--mobile * -1

  @media screen and (min-width: min-tablet-width)
    width s('calc(100% + ' + (post-text-padding--desktop * 2) + ')')
    margin size-small 0
    margin-left post-text-padding--desktop * -1

// Figure Modifiers ------------------------------------------------------------

.alm-post--figure--is-highlighted

  @media screen and (min-width: min-tablet-width)
    border-top-width 1.2em
    border-top @border-top-width solid color-palette-purple
    border-bottom @border-top
    background color-palette-purple-secondary

// Figure caption --------------------------------------------------------------

.alm-post--figcaption
  font-size post-text-size
  font-style italic
  text-align center
  line-height post-text-line-height * 0.75
  color post-text-color-secondary
  padding 0 normalize(post-text-padding--mobile, @font-size)
  margin-top 0.5em
  margin-bottom normalize(size-small, @font-size)

  @media screen and (min-width: min-tablet-width)
    padding 0 normalize(post-text-padding--desktop, @font-size)

    .alm-post--figure--is-highlighted &
      margin-bottom @margin-top
      color color-palette-gray

// Image -----------------------------------------------------------------------

.alm-post--image
  display block

  .alm-post--figure &
    width 100%

// Image Modifiers -------------------------------------------------------------

.alm-post--image--float-left,
.alm-post--image--float-right
  width 40%
  margin (post-image-margin--mobile / 2) 0

  &.alm-post--figure
    margin-top 0
    font-size post-text-size

    .alm-post--figcaption
      font-size (post-text-size / 2)
      padding 0
      margin-bottom 0

  @media screen and (min-width: min-tablet-width)
    margin-top (post-image-margin--desktop / 2)
    margin-bottom (@margin-top / 2)

    &.alm-post--figure
      margin-top 0

      .alm-post--figcaption
        margin-bottom @margin-bottom

.alm-post--image--float-left
  float left
  margin-right post-image-margin--mobile

  @media screen and (min-width: min-tablet-width)
    margin-right post-image-margin--desktop

.alm-post--image--float-right
  float right
  margin-left post-image-margin--mobile

  @media screen and (min-width: min-tablet-width)
    margin-left post-image-margin--desktop

.alm-post--image--is-rounded
  border-radius 50%
