// Post info -------------------------------------------------------------------

.alm-post-info
  position relative
  margin-top -3.2em
  z-index 200
  font-family fonts-serif-normal
  font-style italic
  text-align center
  color color-palette-purple

// Post info description -------------------------------------------------------

.alm-post-info-description
  display inline-block
  width 7.7em
  font-size 1.5em
  vertical-align middle

// Post info description Modifiers ---------------------------------------------

.alm-post-info-description--is-left
  text-align right

.alm-post-info-description--is-right
  text-align left

// post info date --------------------------------------------------------------

.alm-post-info-date
  text-transform lowercase

// post author avatar ----------------------------------------------------------
.alm-post-author-avatar
  margin 0 size-smallest
  vertical-align middle
  width avatar--size-small
  height @width

  @media screen and (min-width: min-tablet-width)
    width avatar--size-medium
    height @width
