// Post Lists ------------------------------------------------------------------

.alm-post-list
  list-style none

  .alm-post-title
    background none

  .alm-post-title-content
    position static
    top 0