a
  color color-palette-green
  text-decoration underline

  &:hover
    color color-palette-blue
    border-bottom-color @color

strong
  letter-spacing -0.05em

del
  color post-text-color-secondary

abbr
  font-size 0.6em
  font-weight bold
  color color-palette-blue
  margin 0 0.2em

p
  text(post-text-size)
  letter-spacing -0.04em

  &:first-child
    margin-top 0

ul, ol
  text(post-text-size * 0.85)
  list-style-position inside

  ul, ol
    font-size 1em
    margin 0 0 0 (@font-size * 2)