---
---

@images: '../images';
@color-bg: #EAEAD3;
@color-bg-dark: #50504B;
@color-link: #B70026;
@color-link-title: #333;
@menu-width: 23.3%;
@stage-padding: 80px;
@text: 'Lato', "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
@titles: "Yanone Kaffeesatz", 'Impact', Arial, Helvetica, sans-serif;

.border-radius(@top-left:0px, @top-right:0px, @bottom-right:0px, @bottom-left:0px){
	border-radius: @arguments;
	-o-border-radius: @arguments;
	-ms-border-radius: @arguments;
	-moz-border-radius: @arguments;
	-khtml-border-radius: @arguments;
	-webkit-border-radius: @arguments;
}

.box-shadow(@h:1px, @v:1px, @blur:0px, @color:black){
	box-shadow: @arguments;
	-o-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}

.box-shadow(@h:1px, @v:1px, @blur:0px, @color:black, @type:outset){
	box-shadow: @arguments;
	-o-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}

.box-shadow(@all-args) when (isstring(@all-args)){
	@all-args: ~'@{arguments}';
	box-shadow: @all-args;
	-o-box-shadow: @all-args;
	-ms-box-shadow: @all-args;
	-moz-box-shadow: @all-args;
	-khtml-box-shadow: @all-args;
	-webkit-box-shadow: @all-args;
}

.text-shadow(@h:1px, @v:1px, @blur:0px, @color:black){
	text-shadow: @arguments;
	-o-text-shadow: @arguments;
	-ms-text-shadow: @arguments;
	-moz-text-shadow: @arguments;
	-khtml-text-shadow: @arguments;
	-webkit-text-shadow: @arguments;
}

.text-shadow(@none){
	text-shadow: @arguments;
	-o-text-shadow: @arguments;
	-ms-text-shadow: @arguments;
	-moz-text-shadow: @arguments;
	-khtml-text-shadow: @arguments;
	-webkit-text-shadow: @arguments;	
}

.columns(@count, @gap:0px, @rule:'none'){
	column-gap: @gap;
	column-rule: ~'@{rule}';
	column-count: @count;
	-o-column-gap: @gap;
	-o-column-rule: ~'@{rule}';
	-o-column-count: @count;
	-ms-column-gap: @gap;
	-ms-column-rule: ~'@{rule}';
	-ms-column-count: @count;
	-moz-column-gap: @gap;
	-moz-column-rule: ~'@{rule}';
	-moz-column-count: @count;
	-khtml-column-gap: @gap;
	-khtml-column-rule: ~'@{rule}';
	-khtml-column-count: @count;
	-webkit-column-gap: @gap;
	-webkit-column-rule: ~'@{rule}';
	-webkit-column-count: @count;
}

.transition(@property, @time, @effect){
	transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	-moz-transition: @arguments;
	-khtml-transition: @arguments;
	-webkit-transition: @arguments;
}

.box-sizing(@value){
	box-sizing: @value;
	-o-box-sizing: @value;
	-ms-box-sizing: @value;
	-moz-box-sizing: @value;
	-khtml-box-sizing: @value;
	-webkit-box-sizing: @value;
}

.hyphens(@value){
	hyphens: @value;
	-o-hyphens: @value;
	-ms-hyphens: @value;
	-moz-hyphens: @value;
	-khtml-hyphens: @value;
	-webkit-hyphens: @value;
}

.animation(@key-frame, @duration, @effect, @loop){
	animation: @arguments;
	-o-animation: @arguments;
	-ms-animation: @arguments;
	-moz-animation: @arguments;
	-khtml-animation: @arguments;
	-webkit-animation: @arguments;
}

.animation-delay(@delay){
	animation-delay: @arguments;
	-o-animation-delay: @arguments;
	-ms-animation-delay: @arguments;
	-moz-animation-delay: @arguments;
	-khtml-animation-delay: @arguments;
	-webkit-animation-delay: @arguments;
}

.transform(@values){
	transform: @arguments;
	-o-transform: @arguments;
	-ms-transform: @arguments;
	-moz-transform: @arguments;
	-khtml-transform: @arguments;
	-webkit-transform: @arguments;
}

.highlight(){
	display: inline-block;
	background: @color-bg-dark;
	color: white;
	font-size: 11px;
	letter-spacing: 0.1em;
	padding: 3px 10px 3px @stage-padding;
	position: relative;
	left: -@stage-padding;
	.border-radius(0px, 10px, 10px, 0px);
	.box-shadow('-1px 1px 0px #222 inset, 1px 1px 0px white');
}

* {
	padding: 0px;
	margin: 0px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: url('@{images}/yellow.png') @color-bg;
	font-family: @text;
	font-size: 14px;
	color: black;
}

a {
	color: @color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: darken(@color-link, 15%);
	}

	&.back {
		.highlight;
		.text-shadow(none);

		&:hover {
			text-decoration: none;
			background-color: darken(@color-bg-dark, 10%);
		}
	}
}

h1, h2, h3 {
	font-family: @titles;
}

h1 {
	font-weight: 100;
	font-size: 36px;
}

h2 {
	font-weight: 300;
	font-size: 29px;
	line-height: 1.3em;

	a {
		color: @color-link-title;
		@color-border: fade(@color-link-title, 10%);
		border-bottom: 5px solid @color-border;

		&:hover {
			color: @color-link-title;
			border-color: fadein(@color-border, 10%);
			text-decoration: none;
		}
	}
}

#menu {
	position: fixed;
	width: @menu-width;
	height: 100%;
	background: url('@{images}/black.png') #111111;
	z-index: 100;
	color: #ddd;

	*::selection {
		background-color: transparent;
	}

	li {
		padding: 18px 0px;
	}

	ul {
		list-style: none;
		padding: 20px 0px 0px 36px;

		a {
			display: block;
			background-color: #DDD;
			width: 36px;
			height: 36px;

			&.icon {
				background: url(../images/icons.png) no-repeat;
				opacity: 0.4;
				.transition(opacity, 0.3s, ease);

				.icon(@offset){
					background-position: left @offset;

					&:hover {
						background-position: right @offset;
						opacity: 0.6;
					}
				}

				&.twitter {
					height: 25px;
					.icon(-6px);
				}

				&.lastfm {
					height: 19px;
					.icon(-45px);
				}

				&.linkedin {
					height: 27px;
					.icon(-77px);
				}

				&.facebook {
					height: 31px;
					.icon(-111px);
				}

				&.googleplus {
					height: 23px;
					.icon(-152px);
				}

				&.speakerdeck {
					height: 18px;
					.icon(-190px);
				}

				&.github {
					height: 31px;
					.icon(-219px);
				}

				&.coderwall {
					height: 25px;
					.icon(-258px);
				}

				&.email {
					height: 27px;
					.icon(-294px);
				}

				&.blog {
					height: 31px;
					.icon(-327px);
				}

				&.me {
					height: 26px;
					margin-bottom: 5px;
					.icon(-365px);
				}

				&.loopinfinito {
					height: 20px;
					.icon(-404px);
				}
			}
		}
	}

	nav {
		width: 110px;
		height: 100%;
		float: right;
		background: rgba(51,51,51, 0.35);
		border-right: 5px solid #50504B;

		li {
			padding-bottom: 14px;
		}

		a.icon {
			opacity: 1;
		}
	}
}

#network {
	width: 110px;
	float: right;
}

#stage {
	width: 100% - @menu-width;
	position: relative;
	left: @menu-width;

	*::selection {
		background-color: transparent;
	}

	> header {
		padding: 0.5*@stage-padding @stage-padding 0 @stage-padding;

		a {
			color: fade(@color-link-title, 40%);
			.transition(color, 0.35s, ease);

			&:hover {
				color: @color-link;
				text-decoration: none;

				span {
					color: fade(@color-link-title, 40%);
				}
			}

			span {
				color: fade(@color-link-title, 15%);
				.transition(color, 1s, ease);
			}
		}
	}
}

#content {
	padding: 0.5*@stage-padding @stage-padding @stage-padding @stage-padding;

	p, h2, h3 {
		.text-shadow(1px, 1px, 0px, fadeout(white, 20%));
	}

	*::selection {
		background-color: @color-link;
		color: white;
		.text-shadow(none);
	}
}

@spinner-width: 30px;

#loading {
	position: fixed;
	right: 90px;
	top: 0px;
	display: none;
	// border: 1px solid fade(black, 20%);
	min-width: 150px;
	padding-top: 45px;
	// background-color: fade(black, 10%);
	// .border-radius(0px, 0px, 5px, 5px);
	// .box-shadow(1px, 1px, 0px, fade(white, 80%));

	span {
		line-height: @spinner-width;
		font-size: 20px;
		padding-left: 15px;
		letter-spacing: 0.2em;
		color: fade(black, 30%);
	}
}

#spinner {
	width: @spinner-width;
	height: @spinner-width;
	position: relative;
	float: left;
    
    div {
		width: 12%;
		height: 26%;
		background: fade(black, 50%);
		position: absolute;
		left: 44.5%;
		top: 37%;
		opacity: 0;
		.animation(fade, 1s, linear, infinite);
		.border-radius(@spinner-width, @spinner-width, @spinner-width, @spinner-width);
		.box-shadow(0px, 0px, 3px, rgba(0,0,0,0.2));

		.spinner-bar(@rotate, @delay){
			.transform(rotate(@rotate) translate(0, -142%));
			.animation-delay(@delay);
		}

		&#bar1 { .spinner-bar(0deg, 0s); }
		&#bar2 { .spinner-bar(30deg, -0.9167s); }
		&#bar3 { .spinner-bar(60deg, -0.833s); }
		&#bar4 { .spinner-bar(90deg, -0.75s); }
		&#bar5 { .spinner-bar(120deg, -0.667s); }
		&#bar6 { .spinner-bar(150deg, -0.5833s); }
		&#bar7 { .spinner-bar(180deg, -0.5s); }
		&#bar8 { .spinner-bar(210deg, -0.41667s); }
		&#bar9 { .spinner-bar(240deg, -0.333s); }
		&#bar10 { .spinner-bar(270deg, -0.25s); }
		&#bar11 { .spinner-bar(300deg, -0.1667s); }
		&#bar12 { .spinner-bar(330deg, -0.0833s); }
	}
}

.fade-animation(){
	from {opacity: 1;}
	to {opacity: 0.25;}
}

@keyframes fade {
	.fade-animation;
}

@-o-keyframes fade {
	.fade-animation;
}

@-ms-keyframes fade {
	.fade-animation;
}

@-moz-keyframes fade {
	.fade-animation;
}

@-webkit-keyframes fade {
	.fade-animation;
}

@import 'article';

@import 'me';