// Vars ------------------------------------------------------------------------

avatar--size-medium = size-medium
avatar--size-big = size-big

// Avatars ---------------------------------------------------------------------

.alm-avatar
  width avatar--size-medium
  height @width
  border-radius 50%
  background color-palette-gray

// Avatar Modifiers ------------------------------------------------------------

.alm-avatar--size-big
  width avatar--size-big
  height @width
