// Avatars ---------------------------------------------------------------------

.alm-avatar
  width size-medium
  height @width
  border-radius 50%
  background color-palette-gray

// Avatar Modifiers ------------------------------------------------------------

.alm-avatar--size-big
  width size-big
  height @width
