// Main content ----------------------------------------------------------------

.alm-main-content
  background color-palette-purple-secondary

// Main content Modifiers ------------------------------------------------------

.alm-main-content--with-contrast
  background white

.alm-main-content--with-padding
  padding main-content-padding--mobile

  @media screen and (min-width: min-tablet-width)
    padding size-small main-content-padding--desktop
