// Icons -----------------------------------------------------------------------

.alm-icon
  padding 0.2em 0 0 1.7em
  background-size 1.2em
  background-repeat no-repeat

// Icon types ------------------------------------------------------------------

.alm-icon-date
  background-image url(../images/icons/icon-calendar.svg)

.alm-icon-location
  background-image url(../images/icons/icon-location.svg)

// Round Icons -----------------------------------------------------------------

.alm-round-icon
  display block
  width size-small
  height @width
  border-radius 50%
  background no-repeat center color-palette-green

// Round Icon Types ------------------------------------------------------------

.alm-icon-twitter
  background-size 2.4em
  background-image url(../images/icons/icon-twitter.svg)

.alm-icon-github
  background-size 2.5em
  background-image url(../images/icons/icon-github.svg)

.alm-icon-facebook
  background-size 4.2em
  background-image url(../images/icons/icon-facebook.svg)

.alm-icon-instagram
  background-size 2.3em
  background-image url(../images/icons/icon-instagram.svg)

.alm-icon-lastfm
  background-size 2.5em
  background-image url(../images/icons/icon-lastfm.svg)

.alm-icon-linkedin
  background-size 2.2em
  background-image url(../images/icons/icon-linkedin.svg)

.alm-icon-coderwall
  background-size 2.1em
  background-image url(../images/icons/icon-coderwall.svg)

.alm-icon-googleplus
  background-size 2.2em
  background-image url(../images/icons/icon-googleplus.svg)

.alm-icon-slideshare
  background-size 2.2em
  background-image url(../images/icons/icon-slideshare.svg)

.alm-icon-speakerdeck
  background-size 2.3em
  background-image url(../images/icons/icon-speakerdeck.svg)
