// Lists -----------------------------------------------------------------------

.alm-list
  list-style none

.alm-list--item
  width: 100%;
  padding: size-smaller;
  margin-left: - size-smaller;

  &:first-child
    margin-top 0

  &:nth-child(2n)
    background color-palette-purple

  &::after
    content ''
    display block
    clear both

  @media screen and (min-width: min-tablet-width)
    display table
    padding 0
    margin-left 0
    margin-top size-small

    &:nth-child(2n)
      background none

.alm-list--item--size-big
  margin-top size-small

  @media screen and (min-width: min-tablet-width)
    margin-top size-medium

.alm-list--item-link
  @media screen and (min-width: min-tablet-width)
    display table-row

.alm-list--item-thumb
  display none
  width avatar--size-medium

.alm-list--item-info
  @media screen and (min-width: min-tablet-width)
    width 100%
    padding-left 2em

.alm-list--item-thumb,
.alm-list--item-info
  @media screen and (min-width: min-tablet-width)
    display table-cell
    vertical-align middle

.alm-list--item-icon
  display block

.alm-list--item-title
  margin-bottom 0.4em
  font-size 2.1em
  font-weight normal
  font-family fonts-sans-normal
  line-height 110%
  letter-spacing -0.03em

  &::after
    position absolute
    display inline-block
    width 2em
    height 2em
    line-height 2.2em
    margin 0.1em 0 0 0.8em
    font-size 0.5em
    font-family fonts-sans-bolder
    text-align center
    border-radius 50%
    background rgba(color-palette-blue, 0.8)
    color color-palette-purple-secondary

  html:lang(en) &
    &:lang(pt)
      &::after
        content 'PT'

  html:lang(pt) &
    &:lang(en)
      &::after
        content 'EN'

.alm-list--item-title--size-big
  font-size 2.6em
  font-family fonts-sans-light
  text-transform uppercase
  margin-bottom 0.25em

.alm-list--item-year
  color color-palette-blue

.alm-list--item-attrs
  line-height 180%

.alm-small
  font-size 1.2em
  font-weight normal
  font-family fonts-sans-normal
  text-transform uppercase
  color color-palette-green

  a
    color color-palette-green

.alm-strong
  font-family fonts-sans-bolder

.alm-icon
  padding 0.2em 0 0 1.7em
  background-size 1.2em
  background-repeat no-repeat

  .alm-list--item-attrs &
    display block
    padding-top 0

    @media screen and (min-width: min-tablet-width)
      display inline-block

      + .alm-icon
        margin-left 0.6em

.alm-icon-date
  background-image url(../images/icon-calendar.svg)

.alm-icon-location
  background-image url(../images/icon-location.svg)

.alm-list--item-with
  &::before
    content '~ '
    text-transform lowercase

    html:lang(en) &
      content '~ with'

    html:lang(pt) &
      content '~ com'
