// Lists -----------------------------------------------------------------------

.alm-list
  list-style none

.alm-list--item
  margin-top size-small

  &:first-child
    margin-top 0

  &::after
    content ''
    display block
    clear both

.alm-list--item-icon
  float left
  margin-right 2em

.alm-list--item-title
  margin-bottom 0.2em
  padding-top 0.5em
  font-size 2em
  font-family fonts-sans-lighter
  line-height 130%
  letter-spacing -0.04em

  &::after
    display inline-block
    width 2em
    height 2em
    line-height 2.1em
    vertical-align 0.3em
    margin-left 0.5em
    font-size 0.5em
    font-family fonts-sans-bolder
    text-align center
    border-radius 50%
    background rgba(color-palette-blue, 0.8)
    color color-palette-purple-secondary

  html:lang(en) &
    &:lang(pt)
      &::after
        content 'PT'

  html:lang(pt) &
    &:lang(en)
      &::after
        content 'EN'

.alm-list--item-date
  font-size 1.2em
  font-family fonts-sans-light
  text-transform uppercase
  color color-palette-green

.alm-list--item-year
  font-family fonts-sans-bold
