// Lists -----------------------------------------------------------------------

.alm-list
  list-style none

.alm-list--item
  display table
  width 100%
  margin-top size-smaller

  @media screen and (min-width: min-tablet-width)
    margin-top size-small

  &:first-child
    margin-top 0

  &::after
    content ''
    display block
    clear both

.alm-list--item-link
  display table-row

.alm-list--item-thumb,
.alm-list--item-info
  display table-cell
  vertical-align middle

.alm-list--item-thumb
  width avatar--size-medium

.alm-list--item-info
  padding-left 2em

.alm-list--item-icon
  display block

.alm-list--item-title
  margin-bottom 0.2em
  font-size 2em
  font-family fonts-sans-lighter
  line-height 130%
  letter-spacing -0.04em

  &::after
    position absolute
    display inline-block
    width 2em
    height 2em
    line-height 2.1em
    margin 0.2em 0 0 0.8em
    font-size 0.5em
    font-family fonts-sans-bolder
    text-align center
    border-radius 50%
    background rgba(color-palette-blue, 0.8)
    color color-palette-purple-secondary

  html:lang(en) &
    &:lang(pt)
      &::after
        content 'PT'

  html:lang(pt) &
    &:lang(en)
      &::after
        content 'EN'

.alm-list--item-date
  display block
  font-size 1.2em
  font-family fonts-sans-light
  text-transform uppercase
  color color-palette-green

.alm-list--item-year
  font-family fonts-sans-bold
