// Social List -----------------------------------------------------------------

.alm-social-list
  list-style none
  font-size 0
  text-align center

.alm-social-item
  display inline-block
  font-size 10px
  margin 0 0.5em 1em
