// Social List -----------------------------------------------------------------

.alm-social-list
  list-style none
  font-size 0
  text-align center

.alm-social-item
  display inline-block
  font-size 10px

  + .alm-social-item
    margin-left 1em
