// Text elements ---------------------------------------------------------------

.alm-small
  font-size 1.2em
  font-weight normal
  font-family fonts-sans-normal
  text-transform uppercase
  color color-palette-green

  a
    color color-palette-green

.alm-strong
  font-family fonts-sans-bolder
