// Vars ------------------------------------------------------------------------

title-size = 3.8em
subtitle-size = 2em

// Title -----------------------------------------------------------------------

.alm-title
  font-size title-size
  font-weight normal
  font-family fonts-sans-bold
  text-align center
  text-transform uppercase
  letter-spacing -0.05em

// Title Modifiers -------------------------------------------------------------

.alm-title--is-secondary
  width 100%
  font-size 3em
  font-family fonts-sans-lighter
  background color-palette-blue
  color color-palette-purple-secondary

  padding-top normalize(size-smallest, @font-size)
  padding-bottom @padding-top * 0.7
  padding-left normalize(size-smaller, @font-size)
  padding-right @padding-left
  margin-left - @padding-left

  @media screen and (min-width: min-tablet-width)
    width auto
    padding 0
    margin-left 0
    background none
    color color-palette-green

.alm-title--with-margin
  @media screen and (min-width: min-tablet-width)
    margin-top size-smallest
    margin-bottom @margin-top

// Subtitle --------------------------------------------------------------------

.alm-subtitle
  font-size subtitle-size
  font-style italic
  font-family fonts-serif-normal
  text-align center

  .alm-title + &
    margin-top (size-smallest / 2)

// Inline elements -------------------------------------------------------------

.alm-small
  font-size 1.2em
  font-weight normal
  font-family fonts-sans-normal
  text-transform uppercase
  color color-palette-green

  a
    color color-palette-green

.alm-strong
  font-family fonts-sans-bolder
