// Logo ------------------------------------------------------------------------

.alm-logo
  width logo-mobile-width
  height logo-mobile-height
  margin auto

  @media screen and (min-width: min-tablet-width)
    position absolute
    width logo-desktop-width
    height logo-desktop-height
    left 'calc(50% - %dem)' % (@width / 2)

// Logo elements ---------------------------------------------------------------

.alm-logo-link
  display block
  width 100%
  height 100%

.alm-logo-image
  height 100%

.alm-logo-t
  transition fill 0.3s ease

  .alm-logo:hover &
    fill color-palette-gray

.alm-logo-t1
  fill color-palette-blue
  transition-delay 0.1s

.alm-logo-t2
  fill color-palette-green

.alm-logo-t3
  fill color-palette-gray
