.alm-header--title
  position absolute
  display none
  box-sizing border-box
  font-size 2em
  width ((body-desktop-width - logo-desktop-width) / 2 / @font-size)
  left 'calc(50% - %dem)' % (@width + (logo-desktop-width / 2 / @font-size))
  padding-right (size-smaller / @font-size * 1.1)
  height (logo-desktop-height / @font-size)
  fix-line-height(@height)
  font-family fonts-sans-lighter
  font-weight normal
  letter-spacing 0.15em
  text-align right
  text-transform uppercase
  color color-palette-gray
  opacity 0.3

  @media screen and (min-width: min-tablet-width)
    display block

.alm-header--title-alt
  font-family fonts-sans-bolder
  margin-left -0.15em