.alm-header--title
  position absolute
  display none
  box-sizing border-box
  font-size 2em
  width normalize(((body-desktop-width - logo-desktop-width) / 2), @font-size)
  left 'calc(50% - %dem)' % (@width + normalize((logo-desktop-width / 2), @font-size))
  padding-left 1.8em
  height normalize(logo-desktop-height, @font-size)
  fix-line-height(@height)
  font-family fonts-sans-lighter
  font-weight normal
  letter-spacing 0.15em
  text-align center
  text-transform uppercase
  color color-palette-gray
  opacity 0.3

  @media screen and (min-width: min-tablet-width)
    display block

.alm-header--title-alt
  font-family fonts-sans-bolder
  margin-left -0.15em
