<!doctype html>
<html>

{% include head.html %}

<body>

	{% include menu.html %}
	
	<section id="stage">
		<section id="content">
			{% include header.html %}
			<article itemscope itemtype="http://schema.org/BlogPosting">
				<meta itemprop="author" content="Almir Filho" />
				<time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d <span>%b</span> %Y" | upcase }}</time>
				<section>
					<header>
						<h2 itemprop="headline"><a href="{{ page.url }}" title="{{ page.title | strip_html }}">{{ page.title }}</a></h2>
					</header>
					<section itemprop="articleBody">{{ page.content | markdownify }}</section>
				</section>
			</article>
			<p><a href="/" class="back">← voltar</a></p>
		</section>
	</section>
	
</body>
</html>