<!doctype html>
<html lang="en-US">

{% include head.html %}

<body>

	{% include menu.html %}
	
	<section id="stage">

		{% include header.html %}
		{% include spinner.html %}
		
		<section id="content">
			<div id="content-load">
				<article class="complete" itemscope itemtype="http://schema.org/BlogPosting">
					<meta itemprop="author" content="Almir Filho" />
					<time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d <span>%b</span> %Y" | upcase }}</time>
					<section>
						<header>
							<h2 itemprop="headline"><a class="push-content" href="{{ page.url }}" title="{{ page.title | strip_html }}">{{ page.title }}</a></h2>
						</header>
						<section itemprop="articleBody">{{ page.content | markdownify }}</section>
					</section>
				</article>
				<p><a href="/" class="back push-content">← home</a></p>
			</div>
		</section>
	</section>
	
</body>
</html>