<head>
	<meta charset="UTF-8" />
	<title>{% if page.title %}{{ page.title | strip_html }} – {% endif %}almirfilho.com</title>

	<meta name="author" content="Almir Filho" />
	<meta name="keywords" content="almir, almir filho, portfolio, blog, personal" />
	<meta name="description" content="My little space on the web." />
	<meta name="language" content="en" />
	<meta name="content-language" content="en" />
	<meta name="robots" content="all" />
	<meta name="distribution" content="Global" />
	<meta name="resource-type" content="document" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300|Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" media="all" />
	{% comment %}
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/l8p" title="Loop Infinito" />
	{% endcomment %}
	<script type="text/javascript">
		
		// google analytics
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-31194300-1']);
		_gaq.push(['_setDomainName', 'almirfilho.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/scripts/jquery-1.7.2.min.js"><\/script>')</script>
	<script type="text/javascript">
	$(document).ready( function(){

		$('a.push-content').live( 'click', function( event ){

			event.preventDefault();
			url = $(this).attr('href');
			loadContent(url);
			history.pushState('', 'almirfilho: ' + url, url);
		});

		window.onpopstate = function( event ){
			loadContent(location.pathname, (event.state == null));
		};

		function loadContent( url, first ){

			if( !first ){

				$('#content-load').fadeOut(200, function(){
					
					$('#loading').fadeIn(200);
					$('#content').load( url + ' #content-load', function(){
						$('#content-load').hide().fadeIn(300);
						$('#loading').fadeOut(200);
					});
				});
			}
		}
	});
	</script>
</head>