<section id="menu">
	<nav>
		<ul>
			<li><a href="/" class="icon blog"></a></li>
			<li><a href="/me" class="icon me"></a></li>
			<li><a href="http://loopinfinito.com.br" class="icon loopinfinito"></a></li>
		</ul>
	</nav>
	<section id="network">
		<ul>
			<li><a href="http://twitter.com/almirfilho" class="icon twitter"></a></li>
			<li><a href="http://github.com/almirfilho" class="icon github"></a></li>
			<li><a href="http://last.fm/user/almirfilho" class="icon lastfm"></a></li>
			<li><a href="http://speakerdeck.com/u/almirfilho" class="icon speakerdeck"></a></li>
			<li><a href="http://br.linkedin.com/pub/almir-filho/32/262/20a" class="icon linkedin"></a></li>
			<li><a href="http://www.facebook.com/almirflorenciofilho" class="icon facebook"></a></li>
			<li><a href="http://plus.google.com/u/0/111718150595519513871/about" class="icon googleplus"></a></li>
			<li><a href="http://coderwall.com/almirfilho" class="icon coderwall"></a></li>
			<li><a href="mailto:almir@almirfilho.com" class="icon email"></a></li>
		</ul>
	</section>
</section>