fonts-path-avenir = '/fonts/avenir/'
fonts-fallback    = Helvetica, sans-serif;
fonts-sans-lighter = 'avenirlight', fonts-fallback
fonts-sans-light   = 'avenirbook', fonts-fallback
fonts-sans-normal  = 'avenirmedium', fonts-fallback
fonts-sans-bold    = 'avenirheavy', fonts-fallback
fonts-sans-bolder  = 'avenirblack', fonts-fallback

@font-face
    font-family 'avenirlight'
    src url(fonts-path-avenir + 'avenir_35_light-webfont.eot')
    src url(fonts-path-avenir + 'avenir_35_light-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-path-avenir + 'avenir_35_light-webfont.woff') format('woff'), url(fonts-path-avenir + 'avenir_35_light-webfont.ttf') format('truetype'), url(fonts-path-avenir + 'avenir_35_light-webfont.svg#avenirlight') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'avenirbook'
    src url(fonts-path-avenir + 'avenir_45_book-webfont.eot')
    src url(fonts-path-avenir + 'avenir_45_book-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-path-avenir + 'avenir_45_book-webfont.woff') format('woff'), url(fonts-path-avenir + 'avenir_45_book-webfont.ttf') format('truetype'), url(fonts-path-avenir + 'avenir_45_book-webfont.svg#avenirbook') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'avenirmedium'
    src url(fonts-path-avenir + 'avenir_65_medium-webfont.eot')
    src url(fonts-path-avenir + 'avenir_65_medium-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-path-avenir + 'avenir_65_medium-webfont.woff') format('woff'), url(fonts-path-avenir + 'avenir_65_medium-webfont.ttf') format('truetype'), url(fonts-path-avenir + 'avenir_65_medium-webfont.svg#avenirmedium') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'avenirheavy'
    src url(fonts-path-avenir + 'avenir_85_heavy-webfont.eot')
    src url(fonts-path-avenir + 'avenir_85_heavy-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-path-avenir + 'avenir_85_heavy-webfont.woff') format('woff'), url(fonts-path-avenir + 'avenir_85_heavy-webfont.ttf') format('truetype'), url(fonts-path-avenir + 'avenir_85_heavy-webfont.svg#avenirheavy') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'avenirblack'
    src url(fonts-path-avenir + 'avenir_95_black-webfont.eot')
    src url(fonts-path-avenir + 'avenir_95_black-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-path-avenir + 'avenir_95_black-webfont.woff') format('woff'), url(fonts-path-avenir + 'avenir_95_black-webfont.ttf') format('truetype'), url(fonts-path-avenir + 'avenir_95_black-webfont.svg#avenirblack') format('svg')
    font-weight normal
    font-style normal
