.alm-footer
  padding size-small 0 size-medium 0
  font-size 1.1em
  text-align center
  text-transform uppercase
  line-height 200%
  color rgba(color-palette-gray, 0.5)

.alm-footer-link
  color rgba(color-palette-gray, 0.8)

  &:hover
    color white
