// Vars ------------------------------------------------------------------------

body-desktop-width = 65em
main-content-padding--desktop = 5em
main-content-padding--mobile = size-smaller

// General styles --------------------------------------------------------------

*
  margin 0
  padding 0

body
  color color-palette-gray
  font-size base-font-size
  font-family fonts-sans-normal
  background color-palette-purple
  -webkit-font-smoothing antialiased

a
  color color-palette-gray
  text-decoration none

.alm-body
  @media screen and (min-width: min-desktop-width)
    width body-desktop-width
    margin auto

// Main content ----------------------------------------------------------------

.alm-main-content
  background color-palette-purple-secondary

.alm-main-content--with-contrast
  background white

.alm-main-content--with-padding
  padding main-content-padding--mobile

  @media screen and (min-width: min-tablet-width)
    padding size-small main-content-padding--desktop

// Avatars ---------------------------------------------------------------------

.alm-avatar
  width size-medium
  height @width
  border-radius 50%
  background color-palette-gray

.alm-avatar--size-big
  width size-big
  height @width

// Title -----------------------------------------------------------------------

.alm-title
  font-size 3.8em
  text-align center
  text-transform uppercase
  letter-spacing -0.05em

// Context separator -----------------------------------------------------------

hr()
  height 1.3em
  margin size-small 0
  border none
  text-align center

  &::after
    content '~'
    font-size 8em
    font-family 'Times New Roman', Times, serif
    line-height 0

.alm-hr
  hr()
