body-desktop-width = 60em

*
  margin 0
  padding 0

body
  color color-palette-gray
  font-size base-font-size
  background color-palette-purple

a
  color color-palette-gray
  text-decoration none

.alm-body
  border 1px solid white

  @media screen and (min-width: min-desktop-width)
    width body-desktop-width
    margin auto