// mobile sizes
logo-mobile-width = size-bigger * 1.85
logo-mobile-height = size-bigger

// desktop sizes
logo-desktop-width = size-medium * 1.85
logo-desktop-height = size-medium

fix-line-height(h)
  line-height h * 1.1

// -----------------------------------------------------------------------------

.alm-header
  position relative
  padding size-medium 0 size-small 0

  @media screen and (min-width: min-tablet-width)
    height logo-desktop-height
    padding size-small 0

// -----------------------------------------------------------------------------

@import 'header/title'

// -----------------------------------------------------------------------------

.alm-header--logo
  width logo-mobile-width
  height logo-mobile-height
  margin auto

  @media screen and (min-width: min-tablet-width)
    position absolute
    width logo-desktop-width
    height logo-desktop-height
    left 'calc(50% - %dem)' % (@width / 2)

.alm-header--logo-link
  display block
  width 100%
  height 100%

.alm-header--logo-image
  height 100%

// -----------------------------------------------------------------------------

.alm-header--menu
  margin-top size-small

  @media screen and (min-width: min-tablet-width)
    position absolute
    width ((body-desktop-width - logo-desktop-width) / 2)
    left 'calc(50% + %dem)' % (logo-desktop-width / 2)
    height logo-desktop-height
    margin-top 0
    fix-line-height(@height)

.alm-header--menu-list
  height 2.8em
  list-style none
  text-align center

.alm-header--menu-item
  display inline
  font-size size-smaller * 1.3
  text-transform uppercase
  letter-spacing -0.05em
  margin-left 0.6em

  &:first-child
    margin-left 0

  @media screen and (min-width: min-tablet-width)
    font-size size-smallest
    margin-left 1.6em
    letter-spacing 0
