// Vars ------------------------------------------------------------------------

// mobile sizes
logo-mobile-width = size-bigger * 1.85
logo-mobile-height = size-bigger

// desktop sizes
logo-desktop-width = size-medium * 1.85
logo-desktop-height = size-medium

// Mixins ----------------------------------------------------------------------

fix-line-height(h)
  line-height h * 1.1

// Style -----------------------------------------------------------------------

.alm-header
  position relative
  padding size-medium 0 size-small 0

  @media screen and (min-width: min-tablet-width)
    height logo-desktop-height
    padding size-small 0

// Components ------------------------------------------------------------------

@import 'header/title'
@import 'header/logo'
@import 'header/menu'
