// Color palette
color-palette-purple = #3D3042
color-palette-green  = #8BA27A
color-palette-blue   = #616988
color-palette-gray   = #CCCCCC
color-palette-white  = white

color-palette-purple-secondary = lighten(color-palette-purple, 5%)

// Font size: 10px
base-font-size = 62.5%

// Base size: 60px
base-size = 6em

// Scaling constant
scale = 1.618

// Sizes scale
size-smallest = base-size / scale / scale / scale
size-smaller  = base-size / scale / scale
size-small    = base-size / scale
size-medium   = base-size
size-big      = base-size * scale
size-bigger   = base-size * scale * scale
size-biggest  = base-size * scale * scale * scale

// Breakpoint sizes
min-tablet-width = 768px
min-desktop-width = 1024px

// Imports
@import fonts
@import general
@import header
@import post
@import footer
@import customs
