header-image-height = 260px

text(fontsize)
  font-size fontsize
  line-height 170%
  margin (size-smaller / @font-size) 0

blockquote-start()
  content '\2018\2018'
  position relative
  left -8px
  height 0
  font-size 160px
  font-family fonts-serif-normal
  font-style normal
  letter-spacing -0.08em
  color rgba(color-palette-purple, 0.1)

blockquote-start-inline()
  blockquote-start()
  display inline-block
  top 5px
  vertical-align -68px

// .alm-post
.alm-post--header
  position relative

  .alm-post--hr
    margin-top 2em

.alm-post--header-image-box
  position relative
  width 100%
  height header-image-height
  overflow hidden
  z-index 0
  transition height 0.8s ease

  &:hover
    transition-duration 1.2s
    height header-image-height * 1.3

    @media screen and (min-width: min-desktop-width)
      height header-image-height * scale

    .alm-post--header-image
      transition -webkit-transform 0.8s ease
      -webkit-transform s('translateY(calc(' + (header-image-height * 1.3 / 2) + ' - 50%))')

      @media screen and (min-width: min-desktop-width)
        -webkit-transform s('translateY(calc(' + (header-image-height * scale / 2) + ' - 50%))')

    .alm-post--header-image--at-top-on-end
      -webkit-transform none

    .alm-post--header-image--at-bottom-on-end
      -webkit-transform s('translateY(calc(' + (header-image-height * 1.3) + ' - 100%))')

      @media screen and (min-width: min-desktop-width)
        -webkit-transform s('translateY(calc(' + (header-image-height * scale) + ' - 100%))')

.alm-post--header-image
  position absolute
  width 100%
  transition -webkit-transform 1.2s ease
  -webkit-transform s('translateY(calc(' + (header-image-height / 2) + ' - 50%))')

.alm-post--header-image--at-top-on-ini
  -webkit-transform none

.alm-post--header-image--at-bottom-on-ini
  -webkit-transform s('translateY(calc(' + header-image-height + ' - 100%))')

.alm-post--header-image-description
  margin 1em size-smallest size-smallest size-smallest
  font-size 1.6em
  line-height 170%
  color color-palette-blue

  @media screen and (min-width: min-tablet-width)
    margin-left size-medium
    margin-right size-medium

.alm-post--title
  position relative
  height 100%
  font-size 3.8em
  text-align center
  text-transform uppercase
  z-index 100
  background linear-gradient(transparent 40%, white 95%)

  @media screen and (min-width: min-tablet-width)
    background linear-gradient(transparent 50%, white 100%)

.alm-post--title-link
  display -webkit-flex
  display flex
  width 100%
  height 100%
  color white

.alm-post--title-str
  position relative
  top -0.3em
  margin auto

.alm-post--info
  position relative
  margin-top -3.2em
  z-index 200
  font-family fonts-serif-normal
  font-style italic
  text-align center
  color color-palette-purple

  .alm-author-avatar
    margin 0 size-smallest
    vertical-align middle

.alm-post--info-description
  display inline-block
  width 8.5em
  font-size 1.5em
  vertical-align middle

.alm-post--info-description--is-left
  text-align right

.alm-post--info-description--is-right
  text-align left

.alm-post--date
  text-transform lowercase

// .alm-post--author-name
.alm-post--hr,
.alm-post--content hr
  height 1.3em
  border none
  text-align center

  &::after
    content '~'
    font-size 8em
    font-family 'Times New Roman', Times, serif
    line-height 0

.alm-post--content
  padding size-smaller
  font-family fonts-serif-normal
  color color-palette-purple

  @media screen and (min-width: min-tablet-width)
    padding size-small size-medium size-medium size-medium

  h2, h3, h4
    letter-spacing -0.05em
    font-weight normal
    margin-top size-smallest
    color rgba(color-palette-purple, 0.5)

  h2
    font-size size-small * 0.8
    font-family fonts-sans-lighter

  h3
    font-size size-smaller * 1.1
    font-family fonts-sans-light

  h4
    font-size size-smallest * 1.1
    font-family fonts-sans-normal
    text-transform uppercase

  a
    color color-palette-green
    text-decoration underline

    &:hover
      color color-palette-blue
      border-bottom-color @color

  strong
    letter-spacing -0.05em

  del
    color rgba(color-palette-purple, 0.5)

  abbr
    font-size 0.6em
    font-weight bold
    color color-palette-blue
    margin 0 0.2em

  p
    text(2em)
    letter-spacing -0.04em

    &:first-child
      margin-top 0

  ul, ol
    text(1.7em)
    list-style-position inside

    ul, ol
      font-size 1em
      margin 0 0 0 (@font-size * 2)

  blockquote
    text(1.9em)
    margin-top size-smaller

    &::before
      blockquote-start()
      display block
      float left
      top 0.28em

    p
      margin 0 0 0 2.6em
      font-size 1.45em
      font-style italic
      color rgba(color-palette-purple, 0.5)
      letter-spacing -0.06em
      line-height 140%

      &::after
        content '\201D'
        margin-left -0.2em
        vertical-align -0.04em
        color rgba(color-palette-purple, 0.35)

    footer
      margin-top 0.5em
      text-align right

    cite
      font-style normal
      color rgba(color-palette-purple, 0.5)
      letter-spacing -0.04em

      &::before
        content '~'
        font-size 1.3em
        font-family fonts-serif-fallback
        vertical-align -0.05em
        margin-right 0.2em

    &.pull-right

      &::before
        content none

      p
        text-align right

        &:first-child
          &::before
            blockquote-start-inline()

    &.float-left,
    &.float-right
      box-sizing border-box
      width 50%
      margin-top 1em
      margin-bottom 1em

      &::before
        content none

      p
        margin-left 0

        &:first-child
          &::before
            blockquote-start-inline()

    &.float-left
      float left
      margin-right 1em
      padding-right 2em

    &.float-right
      float right
      margin-left 1em
      padding-left 1em

  hr
    margin size-small 0

    &::after
      color color-palette-gray
